
html
{
	background:#464646;
}

html:after {
    position: absolute;
    content: " ";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./robot.jpg);
    background-size: cover;
    opacity: 0.1;
}

#spokenText
{
	display:none;
	text-align: center;
    padding: 2%;
    width: 30%;
    margin: auto;
    margin-top: 5%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 63%);
    border-radius: 4px;
    color: #FFC107;
}


#startdiv
{
	width: 100px;
    height: 50px;
    cursor: pointer;
    border-radius: 5px;
    color: #FFC107;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 63%) 	;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bubblediv
{
	display:none;
	width : 12%;
	height: 10px;
	padding: 12%;
	text-align:center;
	color:#FFC107;
    margin: auto;
    border-radius: 50%;
    margin-top: 6%;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 97%);
	animation-name : boom;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

@keyframes boom 
{
	 0%
	 {
		width : 12%;
		height: 10px;
	 }
	 100%
	 {
		width : 15%;
		height: 25px;
	 }
	
}

